node_modules/
dist/
release/
resources/*
!resources/aya.dex
!resources/apksigner.jar

.gradle/
.idea/
server/**/build/
local.properties

build/*.provisionprofile
.claude/

# local dwy publish cache
.dwy/
